{{- $section6 := .Site.Params.section6 }}
{{- $title    := index $section6 "title" }}
{{- $categories := index $section6 "categories" }}
<section id="faq" class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <div class="divider"></div>
      </div>
      <div class="column is-7 mt-60">
        <div class="media-content mt-50">
        {{- range $categories }}
            <h2 class="subtitle">{{ .name }}</h2>
            {{- range .questions }} 
            <div class="content">
              <p>
                <div class="icon-box-title"><b>{{ .question | markdownify }}</b></div>
                <div class="icon-box-text">{{ .answer | markdownify }}</div>
              </p>
            </div>
            {{- end }}
        {{- end }}
        </div>
      </div>
    </div>
  </div>
</section>
